  <div class="project_details">
    <section class="project_details_description">
          <h2><%= @project.name %> </h2>
          <p><%= @project.description %></p>
          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Back', projects_path %>

                <p id="notice"><%= notice %></p>
          <div class="project_details_info">
          </div>
    </section>
    <section class="project_details_reviewers">
        <h2>Reviews</h2>
        <%= link_to 'Add review', new_project_review_path(@project) %>
        <ul class="reviewers_list">
          <% @project.reviews.each_with_index do |r, i| %>
            <li>Review #<%= i %> by <%= r.user.name %></li>
          <% end %>
        </ul>
    </section>
    <div class="project_details_chart"></div>
  </div>
