<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<h3>Reviews</h3>
<ul>
  <% @project.reviews.each_with_index do |r, i| %>
    <li>Review #<%= i %> by <%= r.user.name %></li>
  <% end %>
</ul>

<%= link_to 'Add review', new_project_review_path(@project) %>
