<%= form_for([:project, @review]) do |f| %>
    <section class="start_review_section">
        <h1><%= @review.project.name %></h1>
        <p><%= @review.project.description %></p>

  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :project_id %>
    <%= f.submit 'Start', class: "start_reviewing_button" %>
    <div class="start_review_project_box">
    </div>
<% end %>
